<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HelpCasaMobile"
        tools:targetApi="31">
        <activity
            android:name=".payement"
            android:exported="false" />
        <activity
            android:name=".Annonce_detaile"
            android:exported="false" />
        <activity
            android:name=".tousLesAchEtLoc"
            android:exported="false" />
        <activity
            android:name=".historique"
            android:exported="false" />
        <activity
            android:name=".annrecu"
            android:exported="false" />
        <activity
            android:name=".Annonce_recu"
            android:exported="false" />
        <activity
            android:name=".annonce_cli_prp"
            android:exported="false" />
        <activity
            android:name=".historique_annonces"
            android:exported="false" />
        <activity
            android:name=".Historique_vide"
            android:exported="false" />
        <activity
            android:name=".home_CliPro"
            android:exported="false" />
        <activity
            android:name=".homeAgent"
            android:exported="false" />
        <activity
            android:name=".LastStep"
            android:exported="false" />
        <activity
            android:name=".nouvelleAnnonce"
            android:exported="false" />
        <activity
            android:name=".welcome"
            android:exported="false" />
        <activity
            android:name=".welcom"
            android:exported="false" />
        <activity
            android:name=".coordonne"
            android:exported="false" />
        <activity
            android:name=".createacc"
            android:exported="false" />
        <activity
            android:name=".sidentifier"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>